<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Bootstrap demo</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-aFq/bzH65dt+w6FI2ooMVUpc+21e0SRygnTpmBvdBgSdnuTN7QbdgL+OapgHtvPp" crossorigin="anonymous">
    <style type="text/css">
    html,
    body {
        min-width: 100%;
        min-height: 100%;
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }

    *::-webkit-scrollbar {
        display: none;
        /* Safari and Chrome */
    }

    .input-td input {
        max-width: 50px;
    }

    .data table {
        width: 350px;
        table-layout: fixed;
        margin: auto;
    }

    .sidebar {
        min-height: 100%;
    }

    .main-content {
        width: 100%;
        min-height: 100vh;
    }

    .yb-checkbox {
        width: 50px;
        margin: 0px;
        padding: 0px;
        height: 24px;
    }

    .image-wrapper {
        height: 400px;
        border: 1px solid black;
        box-shadow: 0 0 5px 2px black !important;
    }

    .image-wrapper .image-header {
        height: 50px;
    }

    .image-wrapper img {
        height: 360px !important;
    }

    .del-image-btn {
        position: absolute;
        top: -10px;
        right: -10px;
        height: 20px;
        width: 20px;
        border-radius: 20px;
    }

    .reset-images {
        position: fixed;
        bottom: 10px;
        right: 80px;
    }

    .save-images {
        position: fixed;
        bottom: 10px;
        right: 10px;
    }
    </style>
</head>

<body class="bg-light text-light overflow-auto">
    <div class="main-content d-flex flex-row flex-shrink-0 text-bg-dark p-0 position-relative" id="app">
        <div class="d-flex flex-column flex-shrink-0 p-3 text-bg-dark sidebar align-items-top" style="width: 400px;">
            <div class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-white text-decoration-none">
                <span class="fs-4">Armor & Jewellery</span>
            </div>
            <div class="flex-column d-flex flex-row flex-shrink-0 p-1 pb-3 data">
                <table class="table table-dark">
                    <thead>
                        <tr>
                            <th scope="col">Item</th>
                            <th scope="col">% Luck</th>
                            <th scope="col">% Pearl</th>
                            <th scope="col">Total</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr v-for="armor in armor_list">
                            <th scope="row">{{ v.titleCase(armor) }}</th>
                            <td class="input-td">
                                <input type="text" @input="event => set_armor_value(armor, 'percentage', event)" :value="get_armor_value(armor, 'percentage')">
                            </td>
                            <td class="input-td">
                                <input type="text" @input="event => set_armor_value(armor, 'pearl', event)" :value="get_armor_value(armor, 'pearl')">
                            </td>
                            <td class="input-td">
                                <input type="text" :value="get_total(armor)" disabled>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-white text-decoration-none">
                <span class="fs-4">Weapons</span>
            </div>
            <div class="flex-column d-flex flex-row flex-shrink-0 p-1 pb-3 data">
                <table class="table table-dark">
                    <thead>
                        <tr>
                            <th scope="col">Item</th>
                            <th scope="col">% Luck</th>
                            <th scope="col">% Pearl</th>
                            <th scope="col">Total</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr v-for="weapon in weapon_list">
                            <th scope="row">{{ v.titleCase(weapon) }}</th>
                            <td class="input-td">
                                <input type="text" @input="event => set_weapon_value(weapon, 'percentage', event)" :value="get_weapon_value(weapon, 'percentage')">
                            </td>
                            <td class="input-td">
                                <input type="text" @input="event => set_weapon_value(weapon, 'pearl', event)" :value="get_weapon_value(weapon, 'pearl')">
                            </td>
                            <td class="input-td">
                                <input type="text" :value="get_total(weapon)" disabled>
                            </td>
                        </tr>
                        <tr>
                            <th colspan="3" class="input-td">
                                Sword Equipped
                            </th>
                            <td>
                                <input class="form-check-input yb-checkbox" type="checkbox" id="hasSwordEquipped" @input="event => set_direct_value('hasSwordEquipped', event.target.checked, 'bool')" :checked="get_direct_value('hasSwordEquipped')">
                            </td>
                        </tr>
                        <tr v-if="hasSwordEquipped">
                            <th colspan="3" class="input-td">
                                Sword Primary
                            </th>
                            <td>
                                <input class="form-check-input yb-checkbox" type="checkbox" id="hasSwordPrimary" @input="event => set_direct_value('hasSwordPrimary', event.target.checked, 'bool')" :checked="get_direct_value('hasSwordPrimary')">
                            </td>
                        </tr>
                        <tr v-if="hasSwordEquipped">
                            <th class="input-td">Shield</th>
                            <td class="input-td">
                                <input type="text" @input="event => set_shield_value('percentage', event.target.value, 'float')" :value="get_direct_value('shield_percentage')">
                            </td>
                            <td class="input-td">
                                <input type="text" @input="event => set_shield_value('pearl', event.target.value, 'float')" :value="get_direct_value('shield_pearl')">
                            </td>
                            <td class="input-td">
                                <input type="text" :value="get_total('shield')" disabled>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="d-flex align-items-center mb-4 mb-md-0 me-md-auto text-white text-decoration-none">
                <span class="fs-4">House & Trophies</span>
            </div>
            <div class="flex-column d-flex flex-row flex-shrink-0 p-1 pb-3 data">
                <table class="table table-dark">
                    <thead>
                        <tr>
                            <th scope="col" colspan="2">Region</th>
                            <th scope="col" colspan="2">Trophy Tier</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr v-for="house in houses">
                            <td class="input-td-dropdown" colspan="2">
                                <select class="form-select" aria-label="Default select example" @change="event => set_house_home_value(house, event)">
                                    <option v-for="region in regions" :value="region" :selected="get_house_home_value(house) === region">{{ v.titleCase(region) }}</option>
                                </select>
                            </td>
                            <td class="input-td-dropdown" colspan="2">
                                <select class="form-select" aria-label="Default select example" @change="event => set_house_trophy_value(house, event)">
                                    <option v-for="trophy in trophy_types" :value="trophy" :selected="get_house_trophy_value(house) === trophy">{{ v.titleCase(trophy) }}</option>
                                </select>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-white text-decoration-none">
                <span class="fs-4">Misclaneous Luck</span>
            </div>
            <div class="flex-column mb-auto d-flex flex-row flex-shrink-0 p-1 pb-3 data">
                <table class="table table-dark">
                    <thead>
                        <tr>
                            <th scope="col" colspan="3">Type</th>
                            <th scope="col">% Luck</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <th colspan="3" class="input-td">
                                PVP Enabled
                            </th>
                            <td>
                                <input class="form-check-input yb-checkbox" type="checkbox" id="pvp_enabled" @input="event => set_direct_value('pvp_enabled', event.target.checked, 'bool')" :checked="get_direct_value('pvp_enabled')">
                            </td>
                        </tr>
                        <tr>
                            <th colspan="3" class="input-td">
                                Luck Food
                            </th>
                            <td class="input-td">
                                <input type="text" @input="event => set_direct_value('luck_food', event.target.value, 'float')" :value="get_direct_value('luck_food')">
                            </td>
                        </tr>
                        <tr>
                            <th colspan="3" class="input-td">
                                Housing Luck
                            </th>
                            <td class="input-td">
                                <input type="text" @input="event => set_direct_value('housing_luck', event.target.value, 'int')" :value="get_direct_value('housing_luck')">
                            </td>
                        </tr>
                        <tr>
                            <th class="input-td">
                                Satchels
                            </th>
                            <td class="input-td">
                                <input type="text" @input="event => set_direct_value('satchel_1', event.target.value, 'float')" :value="get_direct_value('satchel_1')">
                            </td>
                            <td class="input-td">
                                <input type="text" @input="event => set_direct_value('satchel_2', event.target.value, 'float')" :value="get_direct_value('satchel_2')">
                            </td>
                            <td class="input-td">
                                <input type="text" @input="event => set_direct_value('satchel_3', event.target.value, 'float')" :value="get_direct_value('satchel_3')">
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="flex-grow-1 pl-5 d-flex flex-column text-bg-light position-relative">
            <nav class="navbar text-bg-dark">
                <div class="container-fluid flex-row text-bg-dark">
                    <div class="navbar-brand text-bg-dark" contenteditable="true" @focusout="event => set_direct_value('title', event.target.innerHTML)" v-html="get_direct_value('title')"></div>
                </div>
            </nav>
            <div class="screenshots flex-grow-1 text-bg-light container-fluid pt-3 d-flex flex-row justify-content-around align-items-top flex-wrap">
                <div class="image-wrapper shadow bg-white m-2 d-flex flex-column position-relative" v-for="(img, index) in images" :key="index">
                    <div class="image-header h-auto w-100 text-center margin-auto">
                        {{ image_dates[index] }}
                    </div>
                    <div class="flex-grow-1 p-2 text-center margin-auto h-100">
                        <img class="h-100" :src="img">
                    </div>
                    <button class="del-image-btn btn btn-danger" @click="remove_image_at_index(index)"></button>
                </div>
            </div>
            <button class="btn btn-danger reset-images" @click="reset_images()">Reset Images</button>
            <button class="btn btn-success save-images" @click="save_all()">Save</button>
        </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/store2/2.14.2/store2.min.js" integrity="sha512-gHhItnn0aQI81iXNqAX0aCojzcfd1b4E+FnPhP1w0wJu3OB0TmsGJP7pntKiulIZiq1a6XXd/t8wcTkr9XGEkA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/voca/1.4.0/voca.min.js" integrity="sha512-yrLbujQF3UPLrlaavtewYmv7OFD8AGO5PS8jg0VKlXP8kW9POHaG/bbpwSbpkqe4SCXVwTtYAMsKdOukT11bxQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/html2canvas/1.4.1/html2canvas.min.js" integrity="sha512-BNaRQnYJYiPSqHHDb58B0yaPfCu+Wgds8Gp/gU33kqBtgNS4tSPHuGibyoeqMV/TJlSKda6FXzoEyYGjTe+vXA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script type="text/javascript">
    const { createApp } = Vue;

    createApp({
        data() {
            return {
                "v": v
            }
        },
        beforeCreate() {
            data = this;
            types = ["percentage", "pearl"]
            armor_pieces = ["hat", "gloves", "shirt", "pants", "shoes", "amulet", "ring", "earring"]
            this["armor_list"] = armor_pieces
            this["armor_types"] = types
            this["totals"] = {}
            for (var i of armor_pieces) {
                for (var j of types) {
                    var_name = `${i}_${j}`;
                    var_value = store.get(var_name, 0);
                    this[var_name] = var_value;
                    this["totals"][i] = (this["totals"][i] || 0) + var_value
                }
            }

            weapon_pieces = ["primary", "secondary"]
            this["weapon_list"] = weapon_pieces
            this["weapon_types"] = types
            for (var weapon of weapon_pieces) {
                for (var type of types) {
                    var_name = `${weapon}_${type}`
                    var_value = store.get(var_name, 0)
                    this[var_name] = var_value
                    this["totals"][weapon] = (this["totals"][weapon] || 0) + var_value
                }
            }

            this["hasSwordEquipped"] = store.get("hasSwordEquipped", false)
            this["hasSwordPrimary"] = store.get("hasSwordPrimary", false)
            this["pvp_enabled"] = store.get("pvp_enabled", false)
            this["shield_pearl"] = store.get("shield_pearl", 0)
            this["shield_percentage"] = store.get("shield_percentage", 0)
            this["totals"]["shield"] = this["shield_pearl"] + this["shield_percentage"]
            this["luck_food"] = store.get("luck_food", 0)
            this["housing_luck"] = store.get("housing_luck", 0)
            this["satchel_1"] = store.get("satchel_1", 0)
            this["satchel_2"] = store.get("satchel_2", 0)
            this["satchel_3"] = store.get("satchel_3", 0)

            this["regions"] = [
                "No Home",
                "Brightwood",
                "Brimstone",
                "Cutlass",
                "Ebonscale",
                "Edengrove",
                "Everfall",
                "First Light",
                "Great Cleave",
                "Monarch’s Bluffs",
                "Mourningdale",
                "Reekwater",
                "Restless",
                "Shattered",
                "Weaver’s Fen",
                "Windsward",
            ]

            this["trophy_types"] = [
                "no trophy",
                "major",
                "basic",
                "minor",
            ]

            this["title"] = store.get("title", "Add scenario description here.")

            houses = ["house-1", "house-2", "house-3"]
            this["houses"] = houses
            house_home_map = store.get("house_home_map", {})
            house_trophy_map = store.get("house_trophy_map", {})
            for (house of houses) {
                if (!Object.keys(house_home_map).includes(house))
                    house_home_map[house] = this["regions"][0];
                if (!Object.keys(house_trophy_map).includes(house))
                    house_trophy_map[house] = this["trophy_types"][0];
            }
            this["house_home_map"] = house_home_map
            this["house_trophy_map"] = house_trophy_map
            store.set("house_home_map", house_home_map)
            store.set("house_trophy_map", house_trophy_map)

            this["images"] = store.get("images", [])
            this["image_dates"] = store.get("image_dates", [])
        },
        mounted() {
            var self = this
            document.querySelector("body").addEventListener("paste", function(event) {
                const items = (event.clipboardData || event.originalEvent.clipboardData).items;
                for (let i = 0; i < items.length; i++) {
                    if (items[i].type.indexOf("image") !== -1) {
                        const blob = items[i].getAsFile();
                        const reader = new FileReader();
                        reader.onload = function(event) {
                            self.set_image(event.target.result);
                        }
                        reader.readAsDataURL(blob);
                    }
                }
            });
        },
        methods: {
            calculate_total: function(self, key, total_keys) {
                total = 0
                for (var k of total_keys) {
                    total += self[`${key}_${k}`] || 0
                }
                self["totals"][key] = total
                return false;
            },
            get_total: function(key) {
                return this["totals"][key]
            },
            set_armor_value: function(armor_type, input_type, event) {
                value = parseFloat(event.target.value)
                if ((value + '') != event.target.value) {
                    return false
                }
                key = `${armor_type}_${input_type}`
                this[key] = value
                store.set(key, value)
                this.calculate_total(this, armor_type, this["armor_types"])
                this.$forceUpdate();
                return false;
            },
            get_armor_value: function(armor_type, input_type) {
                return this[`${armor_type}_${input_type}`]
            },
            set_weapon_value: function(weapon, input_type, event) {
                value = parseFloat(event.target.value)
                if ((value + '') != event.target.value) {
                    return false
                }
                key = `${weapon}_${input_type}`
                this[key] = value
                store.set(key, value)
                this.calculate_total(this, weapon, this["weapon_types"])
                this.$forceUpdate();
                return false;
            },
            get_weapon_value: function(weapon, input_type) {
                return this[`${weapon}_${input_type}`]
            },
            set_shield_value: function(type, value) {
                value = parseFloat(event.target.value)
                if ((value + '') != event.target.value) {
                    return false
                }
                key = `shield_${type}`
                this[key] = value
                store.set(key, value)
                this.calculate_total(this, "shield", this["weapon_types"])
                this.$forceUpdate();
                return false;
            },
            set_direct_value: function(key, value, type = "str") {
                switch (type) {
                    case "bool":
                        value = (value == true) || (value == "true");
                        break;
                    case "int":
                        value = parseInt(value);
                        break;
                    case "float":
                        {
                            float_value = parseFloat(value);
                            if ((float_value + '') !== value) break;
                            value = parseFloat(value);
                            break;
                        }
                    default:
                        value = '' + value
                }
                this[key] = value
                store.set(key, value)
                this.$forceUpdate();
            },
            get_direct_value: function(key) {
                return this[key]
            },
            set_house_home_value: function(house, value_event) {
                value = value_event.target.value;
                this["house_home_map"][house] = value
                store.set("house_home_map", this["house_home_map"])
                this.$forceUpdate()
            },
            get_house_home_value: function(house) {
                return this["house_home_map"][house]
            },
            set_house_trophy_value: function(house, value_event) {
                value = value_event.target.value;
                this["house_trophy_map"][house] = value
                store.set("house_trophy_map", this["house_trophy_map"])
                this.$forceUpdate()
            },
            get_house_trophy_value: function(house) {
                return this["house_trophy_map"][house]
            },
            set_image: function(img_data) {
                this["images"].push(img_data);
                store.set("images", this["images"]);
                this["image_dates"].push(new Date().toISOString())
                store.set("image_dates", this["image_dates"]);
                this.$forceUpdate()
            },
            remove_image_at_index: function(index) {
                this["images"].splice(index, 1);
                this["image_dates"].split(index, 1)
                store.set("images", this["images"]);
                store.set("image_dates", this["image_dates"]);
                this.$forceUpdate()
            },
            reset_images: function() {
                this["images"] = []
                this["image_dates"] = []
                store.set("images", this["images"]);
                store.set("image_dates", this["image_dates"]);
                this.$forceUpdate()
            },
            save_all: function() {
                html2canvas(document.querySelector("body")).then(function(canvas) {
                    var link = document.createElement("a");
                    document.body.appendChild(link);
                    link.download = "myDivImage.png";
                    link.href = canvas.toDataURL("image/png");
                    link.target = "_blank";
                    link.click();
                });
            }
        }
    }).mount('#app')
    </script>
</body>

</html>
